.btn {
    padding: 10px 15px;
    display: inline-block;
    background: #0066cc;
    border: 1px solid #0066cc;
    border-radius: 3px;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
}

.btn:hover{
    background: #00458b;
}

@media only screen and (max-width: 600px) {
    .btn {
        width: 100%;
        text-align: center;
    }
}