.main-container {
  display: flex;
  flex-flow: wrap;
  height: 50px
}

.partition-main {
  display: flex;
  flex-flow: wrap;
}

.partition {
  padding: 0 0 15px 15px
}

.highlight-field {
  border: 3px solid blue;
}

@media only screen and (max-width: 600px) {
  .main-container {
    height: auto;
  }

  .partition {
    padding: 0 15px 15px 15px;
    width: 100%;
  }

  .partition-main {
    width: 100%;
  }
}